numpy~=1.18.5
tensorflow~=2.3.1
keras~=2.4.3
scipy~=1.4.1
scikit-image~=0.18.3
matplotlib~=3.2.2
ipython~=7.13.0
pip~=20.2.4
setuptools~=47.1.1
Pillow~=7.1.0
opencv-python~=4.5.1.48

PySimpleGUI~=4.34.0
Pygments~=2.7.2

pycocotools~=2.0.2
wheel~=0.36.2
rsa~=4.7.2
pyasn1~=0.4.8
six~=1.16.0
gast~=0.3.3
h5py~=2.10.0
parso~=0.8.2
jedi~=0.18.0
PyYAML~=6.0
Cython~=0.29.24
cachetools~=4.2.4
certifi~=2021.10.8
urllib3~=1.26.7
requests~=2.26.0
traitlets~=5.1.1
decorator~=5.1.0
backcall~=0.2.0
pickleshare~=0.7.5
pexpect~=4.8.0
wcwidth~=0.2.5
ptyprocess~=0.7.0
python-dateutil~=2.8.2
Markdown~=3.3.4
oauthlib~=3.1.1
idna~=3.3
Werkzeug~=2.0.2
cycler~=0.11.0
pyparsing~=3.0.5
kiwisolver~=1.3.2
tensorboard~=2.7.0
wrapt~=1.13.3
astunparse~=1.6.3
termcolor~=1.1.0
