numpy~=1.22.0
tensorflow~=2.8.0
tensorflow-hub
keras~=2.8.0
scipy~=1.7.3
scikit-image
matplotlib~=3.5.1
ipython~=7.31.1
setuptools~=60.2.0
Pillow~=9.0.0
opencv-python~=4.5.5.62

PySimpleGUI==4.56.0
Pygments==2.11.2

pycocotools~=2.0.2
PyYAML~=6.0
Cython~=0.29.24
